<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xzit.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.venuepreference.VenuePreferenceActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity android:name=".activity.faq.FAQActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity android:name=".activity.termsandconditions.TermandConditionsActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity android:name=".activity.awesome.AweSomeActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity android:name=".activity.addpayment.AddPaymentctivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity android:name=".activity.payment.PaymentActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".activity.createevent.CreatEventActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity android:name=".activity.countryphonenumber.CountryPhoneNumberActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".activity.profile.ProfileActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".activity.searchfirend.SearchFirendActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".activity.changeemail.ChangeEmailActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".activity.changepassword.ChangePasswordActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".activity.dashboard.DashboardActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".activity.editprofile.EditProfileActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".activity.signup.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.forgotpassword.ForgotPasswordActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity android:name=".activity.welcomescreen.WelcomeActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity android:name=".activity.spashscreen.SplashScreen"
            />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>